<mat-toolbar color="primary">
  <span>PTAS Dublin Bus</span>
  <br>
  <img src="https://img.icons8.com/doodle/48/000000/bus.png"/>
            
</mat-toolbar>

<mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column.Name}}" *ngFor="let column of columnsToDisplay_">
    <th mat-header-cell *matHeaderCellDef> {{column.Name}} </th>
    <td mat-cell *matCellDef="let element">  {{element[column.Id]}}</td>
  </ng-container>

  <button (click)= "getPosts()">GetBus Details</button>
  <div *ngFor ="let post of posts | async">
    {{post | json}}
  </div>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">        
        <div class="example-element-description">
          <mat-label>Point A :</mat-label> 
          <mat-label> {{element.PointA}}</mat-label><br>
          <mat-label>Point B :</mat-label> 
          <mat-label> {{element.PointB}}</mat-label><br>
          <mat-label>  NextStop:</mat-label> 
          <mat-label> {{element.NextStop}}</mat-label><br>
          <mat-label>  StopRequest:</mat-label> 
          <mat-label> {{element.StopRequest}}</mat-label>
          <span class="example-element-description-attribution"> 
           
          </span>
        </div>
      </div>
   
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</mat-table>