table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
    
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 50px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 80px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-column-BusNumber{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;}

    .mat-column-Occupancy{
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 25% !important;
      width: 25% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;}


    .mat-column-Destination{
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 25% !important;
      width: 25% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;}

      .mat-column-Capacity{
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 25% !important;
        width: 25% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;}
